<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">

        <title>{{ settings.APP_NAME }} {{ settings.APP_VERSION }}</title>

        {% include "head_css.html" %}
        
        {% block others_css %}
        {% endblock %}
    </head>

    <body>
        {% include "navbar.html" %}

        <main role="main" class="container-fluid">

        {% block content %}
        {% endblock %}
        <hr>
        </main>
        
        <p></p>
        <div class="text-center">
            <a href="http://icb.utalca.cl/">School of Bioinformatics Engineering</a> | Department of Bioinformatics | 
            <a href="http://www.utalca.cl/">Universidad de Talca</a> | Talca, Chile
        </div>
        
        {% include "javascript.html" %}
        
        {% block others_js %}
        {% endblock %}
    </body>
    
</html>
