{% extends "base.html" %}

{% load static %}

{% block others_css %}
    
{% endblock %}

{% block content %}

    <!-------->
    {% if data.chains %}
        <form name="formParams" id="formParams" method="POST" action="/chains/2/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <span class="panel-title-chains">
                            Select the chains.
                        </span><br>
                        <span>
                            <small>
                                <ul>
                                    <li>If only one chain is selected, then it will maintain its ID numbers and its name.</li>
                                    <li>If more than one chain is selected, then the ID numbers will be renumbered 
                                    and the new chain will be called <b>A</b> (by default).</li>
                                </ul>
                            </small>
                        </span>
                    </div>
                        <div class="card-body text-center" id="panelBodyChains">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    {% for item in data.chains %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="checkchain" name="checkchain" value="{{ item }}" checked>
                                            <label class="form-check-label" for="checkchain">{{ item }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div>
                                <input class="btn btn-primary" type="submit" value="Concatenate!" id="btn-next2">&nbsp;
                                <img id="spinner-line" src="{% static 'img/spinner-line.gif' %}">
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        
        <input type="hidden" name="pdbfile" id="pdbfile" value="{{ data.pdbfile }}">
        <input type="hidden" name="tmp_folder" id="tmp_folder" value="{{ data.tmp_folder }}">
        <input type="hidden" name="id_folder" id="id_folder" value="{{ data.id_folder }}">
        </form>
        <p></p>
        
        <!-- -->
        <style>
            .mol-container {
                width: 100%;
                height: 500px;
                position: relative;
            }
            
            .table-map {
                width: 100%;
                text-align: center;
            }
            
            tr:hover {
                background-color:#f5f5f5;
            }

        </style>

        <div class="row" id="3dview">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><span>Original file: </span><b><span id="span-ori"></span></b>
                        <a id="aori" href="" class="btn btn-primary float-right" title="Download PDB file.">
                            <i class="fa fa-download"></i>&nbsp;PDB
                        </a>
                    </div>
                    <div class="card-body">
                        <center>
                            <div id="container-01" class="mol-container"></div>
                        </center>
                    </div>
                    <div class="card-footer">
                        <span>
                            <small>
                            <b>Rotation:</b> Hold down the primary mouse button.<br>
                            <b>Translation:</b> Hold down the Ctrl button and the primary mouse button or the middle mouse button.<br>
                            <b>Zoom:</b> Scroll the mouse wheel or hold down the second mouse button or hold down the button Shift and the primary mouse button.
                            </small>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><span>New file: </span><b><span id="span-new"></span></b>
                        <a id="anew" href="" class="btn btn-primary float-right" title="Download PDB file.">
                            <i class="fa fa-download"></i>&nbsp;PDB
                        </a>
                    </div>
                    <div class="card-body">
                        <center>
                            <div id="container-02" class="mol-container"></div>
                        </center>
                    </div>
                    <div class="card-footer">
                        <span>
                            <small>
                            <b>Rotation:</b> Hold down the primary mouse button.<br>
                            <b>Translation:</b> Hold down the Ctrl button and the primary mouse button or the middle mouse button.<br>
                            <b>Zoom:</b> Scroll the mouse wheel or hold down the second mouse button or hold down the button Shift and the primary mouse button.
                            </small>
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
        
        <p></p>
        <div class="row" id="map">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <span>Renumbered ID Map</span>
                        <div class="float-right">
                        <a id="amap" href="" class="btn btn-primary" title="Download CSV map file.">
                            <i class="fa fa-download"></i>&nbsp;CSV
                        </a>
                        <a id="jmap" href="" class="btn btn-primary" title="Download JSON map file.">
                            <i class="fa fa-download"></i>&nbsp;JSON
                        </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="tmap" class="table-map"></table>
                    </div>
                    <!--<div class="card-footer"></div>-->
                </div>
            </div>
        </div>
    {% endif %}
    
{% endblock %}

{% block others_js %}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}
