{% load static %}
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/navbar-top.css' %}" rel="stylesheet">

<!-- Datatables -->
<link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">

<!-- Awesome fonts -->
<link href="{% static 'css/all_fontawesome.css' %}" rel="stylesheet">

<!-- Sweetalert2 -->
<link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
