{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-sm-6 text-center">
            <h1>{{ settings.APP_NAME }} {{ settings.APP_VERSION }}: {{ settings.APP_TITLE }}</h1>
        </div>
    </div>
{% endblock %}
