{% load static %}
<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/3Dmol-min.js' %}"></script>
<script src="{% static 'js/vendor/sweetalert2.min.js' %}"></script>
