<!-- static navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-2">
    <a class="navbar-brand" href="/">{{ settings.APP_NAME }} {{ settings.APP_VERSION }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="li-upload">
                <a class="nav-link" href="/upload/">Upload PDB</a>
            </li>
            <!--
            <li class="nav-item" id="li-query">
                <a class="nav-link" href="/query/">Query</a>
            </li>
            -->
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/help/">Help</a>
            </li>
        </ul>
    </div>
</nav>
