{% extends "base.html" %}

{% load static %}

{% block others_css %}
    
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                
                <div class="card-header">Upload PDB file</div>
        
                <form action="/chains/1/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="file" name="pdbfile" id="pdbfile" required>
                        </div>
                    </div>
                </div>
                
                <div class="card-footer">
                    <div>
                        <input class="btn btn-primary" type="submit" value="Next" id="btn-next">&nbsp;
                        <img id="spinner-line" src="{% static 'img/spinner-line.gif' %}">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block others_js %}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}
